.graph-panel {
  flex: 1;
  border-radius: 10px;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  padding: 16px;

  height: 100%;
  width: 100%;

  transition: background 0.3s, border-color 0.3s;
}

.dark .graph-panel {
  background: #0f0f0f;
  border: 1px solid #1f1f1f;
}

.light .graph-panel {
  background: #ffffff;
  border: 1px solid #e5e7eb;
}

.graph-panel .js-plotly-plot {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .graph-panel {
    padding: 12px;
  }
}

@media (max-width: 492px) {
  .graph-panel {
    padding: 8px;
  }
}